 * {
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    align-items: center;
    position:fixed;
}
.navbar:before {
    content: "";
    position: absolute;
    background-color:black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color:white;
}

.navbar ul li a:hover {
    color: orange;
}

/* Home */
#home {
    display: flex;
    flex-direction: column;
    column-gap: auto;
    height: 700px;
    justify-content: center;
    align-items: center;

    color:white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://i.postimg.cc/PxN5cyB6/315425577-1622111531539175-4693127125644988027-n.jpg");
    background-size: cover;
    height: 800px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.heading {
    color:White;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    transform: scale(1, 1.1);
}

/* About Me */
#about {
    display: flex;
    flex-direction: column;
    height: 800px;
   
    align-items: center;
    background-color:blanchedalmond;
}

#about h1 {
    display: flex;
    color:black;
    margin: 30px;
}
.about {
    display: flex;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto auto;
}

.about img {
    border-radius: 60px;
    width: 550px;
    height: 650px;
    
}

.name {
    height: 550px;
    width: 650px;
    background-color:gray;
    border-radius: 20px;
    padding: 30px;
    margin-left: 10px;
}

.name h2 {
    font-size: 2.5rem;
    color:lightgoldenrodyellow;
}

.name p {
    font-size: 3rem;
    color: white;
}





/* Education */
#education {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
    background-color:gray;
}

.box1{
    height: 200px;
    width: 550px;
    background-color:lightgoldenrodyellow;
    border-radius: 20px;
    margin: 20px;
    padding: 50px;
    font-size: 1rem;
}
.box2{
    height: 200px;
    width: 550px;
    background-color:lightgoldenrodyellow;
    border-radius: 20px;
    margin: 20px;
    padding: 50px;
    font-size: 1rem;
}
.box3{
    height: 200px;
    width: 550px;
    background-color:lightgoldenrodyellow;
    border-radius: 20px;
    margin: 20px;
    padding: 50px;
    font-size: 1rem;
}
#skills{
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
    background-color:lightgoldenrodyellow;
}
#skills h1 {
    color: black;
    margin: 40px;
}

.columns {
    display: grid;
    grid-template-columns: auto auto;
}

.box {
    height: 200px;
    width: 550px;
    background-color:gray;
    border-radius: 20px;
    margin: 100px;
    padding: 50px;
}

.box h2 {
    color:lightgoldenrodyellow;
    font-size: 2rem;
}
.box ol{
    color:black;
    font-size: 2rem;
}












